<div *ngIf="questions && questions.length > 0; else loading">

  <po-list-view p-property-title="title"
    [p-items]="questions">
  
    
    <ng-template p-list-view-content-template let-item>
      <p class="po-md-12" > {{ item.description }} </p>
      <hr>
      <div class="po-row">
        <po-radio-group class="po-md-12" 
          name="option"
          p-label="Respostas"
          p-columns="1"
          [p-options]="formatOptions(item.options)">
        </po-radio-group>
      </div>
    </ng-template>

  </po-list-view>

</div>

<ng-template #loading>
  <button (click)="loadQuestions()">
      Load Questions
  </button>
</ng-template>