<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>

    <ion-list>
      <ion-list-header>
        Navigate
      </ion-list-header>
      <h3 *ngFor="let flashcard of flashcards | async ">
        {{ flashcard.title }}
      </h3>
    </ion-list>

  </div>
</ion-content>
