<ion-content>
  <ion-list>
    <ion-list-header color="dark">
      <ion-label>Matérias</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Gestão da Qualidade</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Gestão de Projetos de Software</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Gestão de Mapeamento de Processos</ion-label>
    </ion-item>

    <hr>

    <ion-list-header color="dark">
      <ion-label>Resultados</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Acertos</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Erros</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
